# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*/
.cache/*

# Code Coverage files
*.gcno
*.gcda
*.gcov
coverage.info
coverage.info.cleaned
coverage_report_lcov/
lcov_report/

# CMake FetchContent persistent directory
.cmake_dependencies/
